html,
body,
.page {
	height: 100%;
	font-family: 'Roboto', sans-serif;
	padding: 0px;
	margin: 0px;
}

.page {
	display: flex;
	flex-direction: column;
}

.page-flex {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	flex-grow: 1;
}

.top,
.page-flex {
	margin: 10px;
}

.group {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#header {
	margin: 10px 0px;
	display: flex;
	flex-direction: column;
}

#join {
	margin-top: 10px;
}

#header *,
#difficulties *,
#join h2,
#gameinfo *,
#join-message {
	text-align: center;
}

#gamestate {
	text-align: center;
	margin-bottom: 40px;
}

#highscore {
	font-size: 1.5em;
	margin: 10px 0px;
}

#join-message {
	margin-top: 20px;
}

.multiplayer #btn-play {
	margin-left: 25px;
}

#btn-share {
	margin-top: 10px;
}

h1 {
	font-size: 4em;
}

h2 {
	font-size: 2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 500;
	margin-top: 0px;
	margin-bottom: 5px;
}

a,
a:active,
a:hover,
a:focus {
	color: inherit;
}

#answer {
	text-align: center;
	font-size: 4.5em;
	margin: 10px 0px;
}

#options {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1em;
	margin: 10px 0px;
}

.option {
	border: none;
	margin: 0;
	padding: 0;
	font: inherit;
	line-height: normal;
	-webkit-font-smoothing: inherit;
	-moz-osx-font-smoothing: inherit;
	-webkit-appearance: none;
	outline: none;
	width: 100px;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.25s ease-in-out;
	font-size: 2em;
}

.option[disabled] {
	cursor: not-allowed;
	transform: scale(0.9);
	font-size: 1em;
}

@media (hover) {
	.option:not([disabled]):hover {
		transform: scale(1.25);
	}
}

.option:not([disabled]):focus {
	transform: scale(1.25);
}

#score {
	font-size: 2.5em;
}

#lives {
	font-size: 2.5em;
	font-weight: bold;
	color: #ff0000;
}

#notice {
	margin-top: 20px;
	text-align: center;
}

input {
	border: 1px solid #cccccc;
	outline: none;
	margin: 0;
	padding: 10px;
	border-radius: 5px;
	color: black;
	font: inherit;
	line-height: normal;
	-webkit-font-smoothing: inherit;
	-moz-osx-font-smoothing: inherit;
	-webkit-appearance: none;
	text-align: left;
}

input[type='text']:-moz-read-only {
	background-color: #dddddd;
	-webkit-user-select: all;
	-moz-user-select: all;
	-ms-user-select: all;
	user-select: all;
}

input[type='text']:read-only {
	background-color: #dddddd;
	-webkit-user-select: all;
	-moz-user-select: all;
	-ms-user-select: all;
	user-select: all;
}

.button {
	border: none;
	margin: 0;
	padding: 10px 20px;
	border-radius: 5px;
	background-color: #eeeeee;
	color: black;
	font: inherit;
	line-height: normal;
	-webkit-font-smoothing: inherit;
	-moz-osx-font-smoothing: inherit;
	-webkit-appearance: none;
	cursor: pointer;
	transition: background-color 0.25s ease-in-out;
}

[disabled] .button,
.button:disabled {
	background-color: #555555 !important;
	color: #aaaaaa;
	cursor: not-allowed;
}

.button:hover {
	background-color: #dddddd;
}

.button-green {
	background-color: #4caf50;
	color: #ffffff;
}

.button-green:hover {
	background-color: hsl(122, 39%, 39%);
}

.shake {
	-webkit-animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
	animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

.fade-in {
	transition: opacity 0.1s ease-in-out;
}

.fade-out {
	transition: opacity 3s ease-in-out;
}

@-webkit-keyframes shake {
	10%,
	90% {
		transform: translate3d(-1px, 0, 0);
	}

	20%,
	80% {
		transform: translate3d(2px, 0, 0);
	}

	30%,
	50%,
	70% {
		transform: translate3d(-4px, 0, 0);
	}

	40%,
	60% {
		transform: translate3d(4px, 0, 0);
	}
}

@keyframes shake {
	10%,
	90% {
		transform: translate3d(-1px, 0, 0);
	}

	20%,
	80% {
		transform: translate3d(2px, 0, 0);
	}

	30%,
	50%,
	70% {
		transform: translate3d(-4px, 0, 0);
	}

	40%,
	60% {
		transform: translate3d(4px, 0, 0);
	}
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #333333;
		color: white;
	}

	.button:not(.button-green) {
		background-color: #555555;
		color: white;
	}

	.button:not(.button-green):hover {
		background-color: #777777;
	}

	[disabled] .button,
	.button:disabled {
		background-color: #222222 !important;
	}
}
